@import "_variables";
.navbar{
  background-color: #11ffee00;
  position: absolute;
  width: 90%;
  border-bottom: 1px solid $grey;
  padding: 20px 0;

}

div.navbar-brand{
  height: 50px;
}

.navbar-item img {
    max-height: 3rem;
    color: $grey;
}

div#navMenu.navbar-menu{
  a{
    color: #696969;
    // text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    font-size: 2rem;
    font-family: $title-font;
  }
  overflow: hide;
}
