@import "_variables";

img.profilePicture{
  width: 300px;
  max-height: 100%;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.profilePictureContainer{
  min-height: 400px;
}

li.listLabel{
  font-weight: bold;
}


.autoHeight{
  height: auto;
}

.previewPicture{
  height: 75px;
  width: auto;
}

@media (max-width: 425px) {
  img.profilePicture{
    width: 100px;
    max-height: 100%;
  }
  li {
    font-size: 0.75rem;
  }
  p {
    font-size: 0.75rem;
  }

}

@media (max-width: 1024px) { /* Specific to this particular image */
  img.profilePicture{
    width: 200px;
    max-height: 100%;
  }
}
