@import "_variables";

img.profilePicture{
  width: 300px;
  max-height: 100%;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.profilePictureContainer{
  min-height: 400px;
}

li.listLabel{
  font-weight: bold;
}

.autoHeight{
  height: auto;
}

.previewPicture{
  height: 75px;
  width: auto;
}
