@import "navbar";
@import "_variables";
@import "_profile";

html{
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  background-color: #11ffee00;
  font-family: $text-font;
}

a.userIndex{
  width: 100%;
  color: black;
  &:hover{
    color: white;
  }
}

.has-top-margin{
  margin-top: 10px;
}

a{
  color: black;
}

.indexPage{
  border: 2px solid $grey;
  margin: 10px 0;
  &:hover{
    background-color: $grey;
    color: white;
  }
}

h1{
  font-family: $title-font;
  margin-top: 300px;
  font-size: 5rem;
  color: white;
}

h2{
  font-family: $title-font;
  font-size: 2rem;
  color: $grey;
}

h3{
  font-family: $title-font;
  font-size: 1.25rem;
  color: $grey;
}

#autoHeightSection{
  background-color:rgba(255,255,255, 0.95);;
  width: 80%;
  margin: 120px auto;
  // height: 600px;
  border-radius: 8px;
  padding: 25px;
}

span.listLabel{
  font-weight: bold;
}
.centered{
  text-align: center;
}

.hasBorder{
  border: 1px solid $grey;
}

.recommendationContent{
  min-height: 150px;
}

.spaceBetween{
  justify-content: space-between;
}

.deleteButton{
  border: 1px solid $grey;
  padding: 10px;
  font-family: $text-font;
  color: black;
  &:hover{
    background-color: #ff3385;
    color: white;
  }
}

.linkBorder{
  border: 1px solid $grey;
  padding: 10px;
  &:hover{
    background-color: $grey;
    color: white;
  }
}

.addNew{
  border: 1px solid $grey;
  padding: 10px;
  &:hover{
    background-color: #00ff99;
    color: white;
  }
}

.goBack{
  border: 1px solid $grey;
  padding: 10px;
  background-color: #11ffee00;
  font-family: $text-font;
  &:hover{
    background-color: #6699ff;
    color: white;
  }
}

.greyButton{
  background-color: $grey;
  color: white;
}

// .firstButton{
//   padding: 20px 0px;
// }
.thirdButton{
  margin-right: 0px;
  margin-left: auto;
}

.flexContent{
  display: flex;
}

.mainSection{
  background-color:rgba(255,255,255, 0.95);;
  width: 80%;
  margin: 120px auto;
  // height: 600px;
  border-radius: 8px;
  padding: 25px;
  min-height: 600px;
}

img#bg {
  z-index: -1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#content{
  height: 200px;
}

.recommendationPicture{
  height: auto;
  width: 300px;
}

.userIndexPicture{
  max-height: 50px;
  max-width: 50px;
}

@media (max-width: 425px) { /* Specific to this particular image */
  h2{
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
