@import "navbar";

html{
  height: 100%;
}
body{
  display: flex;
  justify-content: center; 
}

main.row{
  // background-color: AliceBlue;
  // width: 100%;
  // margin: 0px;
}

.mainSection{
  background-color: white;
  width: 80%;
  margin: 15px auto;
  // height: 600px;
  border-radius: 8px;
  padding: 15px;
}

img#bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
