@import "navbar";

html{
  background-color: AliceBlue;
}
body{
  background-color: AliceBlue;
}

main.row{
  background-color: AliceBlue;
  width: 100%;
  margin: 0px;
}

.mainSection{
  background-color: white;
  width: 80%;
  margin: 15px auto;
  // height: 600px;
  border-radius: 8px;
  padding: 15px;
}
