<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://www.shareicon.net/data/2016/06/08/585194_airplane_512x512.png" alt="airplane logo" width="50" height="50">
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <ul class="dropdown menu" data-dropdown-menu>
        <% if(locals.isLoggedIn){%>
          <li><a href="/users">All Travelers</a></li>
          <li><a href='/users/<%= currentUser.id %>'>My Profile</a> </li>
          <li><a href="/logout">Log Out</a></li>
        <%} else {%>
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Sign up</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
