<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <title>Travel Recommendations</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="/">Home</a></li>
          <% if(locals.isLoggedIn){%>
            <li><a href="/users">All Users</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href='/users/<%= currentUser.id %>'>My profile</a> </li>
          <%} else {%>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
          <% } %>
        </ul>
      </div>
    </div>
    <main class="row">
      <%- body %>
    </main>
  </body>
</html>
