<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <title>Travel Recommendations</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico" rel="stylesheet">
  </head>
  <body>
    <img src="https://static.wixstatic.com/media/dc7a6a_645d5bf6bbb540b584608c622573f96d~mv2_d_5184_3456_s_4_2.jpg/v1/fill/w_864,h_576,al_c,q_90,usm_0.66_1.00_0.01/dc7a6a_645d5bf6bbb540b584608c622573f96d~mv2_d_5184_3456_s_4_2.webp" id="bg" alt="">
    <%- include ./partials/_navbar %>
    <% if(locals.isHomepage) { %>
        <h1> Share your experiences </h1>
      <% } if(locals.isAuto) { %>
          <section id="autoHeightSection">
            <%- body %>
          </section>
      <% } if(!locals.isHomepage && !locals.isAuto) { %>
        <section class="mainSection">
          <%- body %>
        </section>
      <% } %>
  </body>
</html>
