.navbar {
  background-color: #11ffee00;
  position: absolute;
  width: 90%;
  border-bottom: 1px solid #696969;
  padding: 20px 0; }

div.navbar-brand {
  height: 50px; }

.navbar-item img {
  max-height: 3rem;
  color: #696969; }

div#navMenu.navbar-menu {
  overflow: hide; }
  div#navMenu.navbar-menu a {
    color: #696969;
    font-size: 2rem;
    font-family: "Pacifico", cursive; }

img.profilePicture {
  width: 300px;
  max-height: 100%; }

.flexColumn {
  display: flex;
  flex-direction: column; }

.profilePictureContainer {
  min-height: 400px; }

li.listLabel {
  font-weight: bold; }

.autoHeight {
  height: auto; }

.previewPicture {
  height: 75px;
  width: auto; }

@media (max-width: 425px) {
  img.profilePicture {
    width: 100px;
    max-height: 100%; }

  li {
    font-size: 0.75rem; }

  p {
    font-size: 0.75rem; } }
@media (max-width: 1024px) {
  /* Specific to this particular image */
  img.profilePicture {
    width: 200px;
    max-height: 100%; } }
html {
  height: 100%; }

body {
  display: flex;
  justify-content: center;
  background-color: #11ffee00;
  font-family: "Montserrat", sans-serif; }

a.userIndex {
  width: 100%;
  color: black; }
  a.userIndex:hover {
    color: white; }

.has-top-margin {
  margin-top: 10px; }

a {
  color: black; }

.indexPage {
  border: 2px solid #696969;
  margin: 10px 0; }
  .indexPage:hover {
    background-color: #696969;
    color: white; }

h1 {
  font-family: "Pacifico", cursive;
  margin-top: 300px;
  font-size: 5rem;
  color: white; }

h2 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: #696969; }

h3 {
  font-family: "Pacifico", cursive;
  font-size: 1.25rem;
  color: #696969; }

span.listLabel {
  font-weight: bold; }

.centered {
  text-align: center; }

.hasBorder {
  border: 1px solid #696969; }

.recommendationContent {
  min-height: 150px; }

.deleteButton {
  border: 1px solid #696969;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: black; }
  .deleteButton:hover {
    background-color: #ff3385;
    color: white; }

.linkBorder {
  border: 1px solid #696969;
  padding: 10px; }

.addNew {
  border: 1px solid #696969;
  padding: 10px; }
  .addNew:hover {
    background-color: #00ff99;
    color: white; }

.goBack {
  border: 1px solid #696969;
  padding: 10px;
  background-color: #11ffee00;
  font-family: "Montserrat", sans-serif;
  align-self: flex-end; }
  .goBack:hover {
    background-color: #6699ff;
    color: white; }

.greyButton {
  background-color: #696969;
  color: white; }

.thirdButton {
  margin-right: 0px;
  margin-left: auto; }

.flexContent {
  display: flex; }

.mainSection {
  background-color: rgba(255, 255, 255, 0.95);
  width: 80%;
  margin: 120px auto;
  border-radius: 8px;
  padding: 25px;
  min-height: 500px; }

img#bg {
  z-index: -1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }

#content {
  height: 200px; }

.recommendationPicture {
  height: auto;
  width: 300px; }

@media (max-width: 425px) {
  /* Specific to this particular image */
  h2 {
    font-size: 1rem; } }
@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */ } }

/*# sourceMappingURL=style.css.map */
