<h2>New Country</h2>

<form method="POST" action="/countries/index">
  <div>
    <label for="country">Country</label>
    <input type="text" name="country" id="country">
  </div>
  <button class="button">Add New Country</button>
</form>
