<h2><%= country.country %></h2>
<ul>
<% country.recommendation.forEach( recommendation =>{ %>
  <li><a href='/recommendations/<%= recommendation.id %>'> <%= recommendation.title %></a></li>
<% }) %>
</ul>

<a href="/countries/<%= country.id %>/recommendations/new">Add a new recommendation</a>
