<h2><%=wantedRecommendation[0].title %></h2>

<p>City: <%= wantedRecommendation[0].city %></p>
<p>Content: <%= wantedRecommendation[0].content%></p>



<a href="<%= wantedRecommendation[0].id %>/edit">Edit</a>
